### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store



**/build/

.gradle



/NUL
/external/
/intellij-ide/
/.gradle-user-fresh/
/.gradle-user-fresh-resolve/
/.gradle-user/
/llvm-interop/third_party/


*.cjo
*.exe
*.bc
*.a
*.log
.cjc-probes/
.codegraph/
/tmp/
